<apex:page controller="SObjectLookupController"
    title="探索" 
    showHeader="false" 
    sideBar="false" 
    id="pg">
    <style>
    .activeTab {background-color: #236FBD; color:white !important; background-image:none;font-size: 15px; font-weight: bold;}
    .inactiveTab { background-color: white; color:black !important; background-image:none;font-size: 13px;font-weight: normal;}
    </style>
    <apex:form >
      <apex:outputPanel id="page" layout="block" style="margin:5px;padding:10px;padding-top:2px;" >
        <apex:tabPanel switchType="client" selectedTab="name1" id="tabbedPanel" tabClass="activeTab" inactiveTabClass="inactiveTab">
    
          <!-- SEARCH TAB -->
          <apex:tab label="探索" name="tab1" id="tabOne" style="background-color: #F8F8F8 ;">
    
            <apex:actionRegion >  
              <apex:outputPanel id="top" layout="block" style="margin:5px;padding:10px;padding-top:2px;">
                <apex:outputLabel value="探索" style="font-weight:Bold;padding-right:10px;" for="txtSearch"/>
                <apex:inputText id="txtSearch" value="{!searchString}" />
                  <span style="padding-left:5px"><apex:commandButton id="btnGo" value="Go!" action="{!Search}" rerender="searchResults"></apex:commandButton></span>
              </apex:outputPanel>
    
              <apex:outputPanel id="pnlSearchResults" style="margin:10px;height:350px;overflow-Y:auto;" layout="block">
                <apex:pageBlock id="searchResults"> 
                  <apex:pageBlockTable value="{!results}" var="a" id="tblResults">
                    <apex:column >
                      <apex:facet name="header">
                        <apex:outputPanel >{!If(LOWER(objName)== 'case',$ObjectType[objName].fields['Subject'].Label,$ObjectType[objName].fields['Name'].Label)}</apex:outputPanel>
                      </apex:facet>
                       <apex:outputLink value="javascript:top.window.opener.lookupPick2('{!FormTag}','{!TextBox}_lkid','{!TextBox}','{!a.Id}','{!If(LOWER(objName) == 'case',a['Subject'],a['Name'])}', false)" rendered="{!NOT(ISNULL(a.Id))}">{!If(LOWER(objName) == 'case',a['Subject'],a['Name'])}</apex:outputLink>     
                    </apex:column>
                  </apex:pageBlockTable>
                </apex:pageBlock>
              </apex:outputPanel>
            </apex:actionRegion>
    
          </apex:tab>
    
          <!-- NEW ACCOUNT TAB -->
          <!--<apex:tab label="新{!$ObjectType[objName].Label}" name="tab2" id="tabTwo" style="background-color: #F8F8F8 ;" rendered="{!IF(ISBLANK(objName) , false, PermissionCreate)}">-->
          <apex:tab label="新{!$ObjectType[objName].Label}" name="tab2" id="tabTwo" style="background-color: #F8F8F8 ;" rendered="fasle">
            <apex:pagemessage summary="データを初期化することができません。管理者に連絡してください"  
                severity="warning" strength="3" rendered="{!NOT(IsExistedFieldsetNew) && !isAdmin}"/>
            <apex:pagemessage summary="後藤タブ「ルックアップの設定は、'フィールドのセットを設定してください。"  
                severity="warning" strength="3" rendered="{!NOT(IsExistedFieldsetNew) && isAdmin}"/>    
            <apex:pageBlock id="newAccount" title="New {!objName}" rendered="{!IsExistedFieldsetNew}">
    
              <apex:pageBlockButtons >
                <apex:commandButton action="{!saveOjbRecord}" value="Save"/>
              </apex:pageBlockButtons>
              <apex:pageMessages />
    
              <apex:pageBlockSection columns="2">
                <apex:repeat value="{!$ObjectType[objName].FieldSets[DefaultFieldSetForNew]}" var="f">
                  <apex:inputField value="{!sobj[f]}"/>
                </apex:repeat>
              </apex:pageBlockSection> 
            </apex:pageBlock>
    
          </apex:tab>
          
          <!--     LOOKUP CONFIGURATION     -->
          <!--<apex:tab label="検索設定" name="tab3" id="tabThree" style="background-color: #F8F8F8 ;" rendered="{!isAdmin}">-->
          <apex:tab label="検索設定" name="tab3" id="tabThree" style="background-color: #F8F8F8 ;" rendered="false">
              <apex:actionRegion >
                  <apex:pagemessage summary="この検索を提供するためにフィールドセットを作成してください。"  
                        severity="warning" strength="3" rendered="{!!IsExistedFieldsetNew && !IsExistedFieldsetSearchCondition && !IsExistedFieldsetSearchResults}"/>
                  <apex:pageblock >
                      <apex:pageblockTable value="{!ListFieldSet}" var="item" rendered="{!ListFieldSet.size > 0}">
                          <apex:column >
                              <apex:facet name="header">アクション</apex:facet>
                              <apex:outputpanel >
                                  <apex:outputLink value="#">編集</apex:outputLink>
                                  |
                                  <apex:outputLink value="#">削除</apex:outputLink>
                              </apex:outputpanel>
                          </apex:column>
                          <apex:column >
                              <apex:facet name="header">項目セット</apex:facet>
                              <apex:outputtext >{!item}</apex:outputtext>
                          </apex:column>
                      </apex:pageblockTable>
                  </apex:pageblock>
              </apex:actionRegion>
          
          </apex:tab>
          
        </apex:tabPanel>
      </apex:outputPanel>
  </apex:form>
</apex:page>